
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    max-width: 1200px;
}

.container{
    width: 500px;
    height: 500px;
    border: 1px solid rgb(175, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: azure;
    border-radius: 20px;
}

pre{
    height: fit-content;
}
